.register-page{
    padding: 543px;
    padding-top: 66px;


    .resgister1{
        
        border-radius: 5px;

        .resgister-2{
            border: 1px solid lightgray;
    padding: 33px;
    border-radius: 20px;
        }
    }
}